# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

AUTH_SECRET="랜덤한_긴_문자열"
AUTH_GITHUB_ID="GitHub Client ID"
AUTH_GITHUB_SECRET="GitHub Client Secret"

DATABASE_URL="postgresql://growithm:growithm1234@localhost:5432/growithm_db?schema=public"
